---
import { getCollection } from 'astro:content'
import Base from '../../layouts/Base.astro'
import PostListing from '../../components/PostListing.astro'
import { getConicGradient } from '../../utils/conic-art'

// const tags = [...new Set(allPosts.map((post: any) => post.frontmatter.tags).flat())];
const tags = new Set()
let posts = ((await getCollection('thoughts')) || [])
  .filter((post) => !post.data.draft)
  .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
  .map((post) => {
    post.data.tags?.forEach((tag: string) => tags.add(tag))
    return {
      ...post,
      // Generate custom gradient for each post, seeded by slug
      data: {
        ...post.data,
        heroImage: getConicGradient(post.slug || ''),
      },
    }
  })
---

<Base>
  <h1>thoughts</h1>
  <p>
    Here you can read 'bout my questionable opinions on anything dev-related or just nice tips/hacks I enjoy having in
    my utility belt.
  </p>
  <hr />

  <div class="tags">
    {
      Array.from(tags).map((tag) => (
        <a href={'/thoughts/tagged/' + tag} class="tag">
          <span class="tag-label">{tag}</span>
        </a>
      ))
    }
  </div>

  <section class="thoughts-list">
    <ul>
      { posts.map((post) => <li><PostListing slug={post.slug} title={post.data.title} gradient={post.data.heroImage} date={post.data.pubDate} /></li>)}
    </ul>
  </section>
</Base>

