---
const today = new Date()
const hour = today.getHours()
const hourFormatted = hour < 10 ? '0' + hour : hour
const min = today.getMinutes()
const minFormatted = min < 10 ? '0' + min : min
let timeOfDay = hour < 12 ? 'morning' : hour < 18 ? 'afternoon' : 'evening'

if (hour < 6) timeOfDay = 'night'
---

<p id="time-greeting" style="display: none">
  Good <span class="js-time-of-day">{timeOfDay}</span>! It's <time id="footer-time" :datetime={today}>
    {hourFormatted}:{minFormatted}</time
  >.
</p>

<script>
  const el = document.getElementById('time-greeting')
  let datetime: HTMLTimeElement | null
  let readableTime: HTMLSpanElement | null

  if (el) {
    el.style.display = 'block'
    datetime = el.querySelector('time')
    readableTime = document.querySelector('.js-time-of-day')

    updateTime()
    setInterval(updateTime, 15 * 1000)
  }

  function updateTime() {
    if (!datetime) return

    const today = new Date()
    const hour = today.getHours()
    const hourFormatted = hour < 10 ? '0' + hour : hour
    const min = today.getMinutes()
    const minFormatted = min < 10 ? '0' + min : min
    let timeOfDay = hour < 12 ? 'morning' : hour < 18 ? 'afternoon' : 'evening'

    if (hour < 6) timeOfDay = 'night'

    const time = `${hourFormatted}:${minFormatted}`
    datetime.setAttribute('datetime', today.toISOString())
    datetime.textContent = time
    console.info('update footer:', time, ' > ', timeOfDay)
    if (readableTime) readableTime.textContent = timeOfDay
  }
</script>

<style>
  time {
    font-family: var(--font-mono);
    font-size: 0.8em;
  }
</style>
