<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>ajv | {{ title }}</title>
  <meta name="description" content="{{ description }}">
</head>
<body>
  <header>
    <p>
      <a href="/">Home</a>
    </p>
  </header>
  <h1>{{ title }}</h1>
  <p>{{ description }}</p>

  {{{ contents }}}

  {{! A post loop goes here... eventually. }}

  <footer>
    <p>Generated with {{ generatorname }} &mdash; <a href="{{ generatorurl }}">{{ generatorurl }}</a></p>
  </footer>

</body>
</html>
