{{> doc-head }}
<link href="/assets/css/blog.css" rel="stylesheet">
</head>
<body>
    {{> header }}

    {{> nav }}

    <main>

        <h1>{{ title }}</h1>

        <div class="post-info">
            {{ readingTime }}
            {{ date postDate }}
        </div>

        <p>{{ description }}</p>

        <hr class="blog__title-divider"></hr>

        {{{ contents }}}
    </main>

    {{> footer }}
</body>
</html>
