{{> doc-head }}
<link href="/assets/css/blog.css" rel="stylesheet">
</head>

<body>
  {{> header }} {{> nav }}

  <main>
    <h1>{{ titleCase title }}</h1>

    <div class="blog__post-info">
      {{#if readingTime}}
        {{ readingTime }} |
      {{/if}}

      published on the {{ date postDate }}

      {{#if lastUpdated }}
        and last updated {{ date lastUpdated }}
      {{/if}}
    </div>

    <p>{{ description }}</p>

    <hr class="blog__title-divider"></hr>

    <p><strong>WIP:</strong> This is currently a public draft of sorts, making me embarassed
    about its existance and hopefully urging me to finish it quicker that way.
    Check back soon!</p>

    <hr class="blog__title-divider"></hr>

    {{{ contents }}}
  </main>

  {{> footer }}
</body>

</html>