{{> doc-head }}
<link href="/assets/css/blog.css" rel="stylesheet">
</head>
<body>
    {{> header }}

    {{> nav }}

    <main>
        <h1>{{ titleCase title }}</h1>

        <div class="blog__post-info">
            {{#if readingTime}}
                Reading time {{ readingTime }} min |
            {{/if}}

            published on the {{ date postDate }}

            {{#if lastUpdated }}
                and last updated {{ date lastUpdated }}
            {{/if}}
        </div>

        <p class="blog__post-description">{{ description }}</p>

        <hr class="blog__title-divider"></hr>

        {{{ contents }}}
    </main>

    {{> footer }}
</body>
</html>
